:root {
    font-family: monospace;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%
}

.section {
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile {
    max-width: 600px;
    min-width: 300px;

    padding: 20px;
}

.profile__title {
    margin: 0 0 5px 0;

    font-size: 42px;
    text-transform: uppercase;
}

.profile__subtitle {
    margin: 0 0 40px 0;

    font-size: 24px;
}

.profile__summary {
    margin: 0 0 40px 0;

    font-size: 14px;
}

.profile__email {
    display: block;

    margin: 0 0 40px 0;

    font-size: 14px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile__title,
.profile__subtitle,
.profile__summary,
.profile__email,
.socials__linkedin_link,
.socials__github_link,
.socials__telegram_link {
    color: white;
}

.profile__email:hover,
.socials__linkedin_link:hover,
.socials__github_link:hover,
.socials__telegram_link:hover {
    color: grey;
}
